body {
  background: #352f5b;
}
.container {
  max-width: 400px;
}

input[type="text"], /* text in focus and out of focus*/
input[type="text"]:focus {
  color: #ffffff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

//this is a comment by g33rt82 ;-)
